#buyer-profile-grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1200px;
    margin: 60px auto;
    gap: 20px;
}

#buyer-profile-grid-container .buyer-contact-info-container {
    display: none;
}

#buyer-profile-details-container {
    display: flex;
    padding: 20px;
    padding-top: 40px;
    padding-right: 40px;
    gap: 20px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow-x: hidden;
    position: relative;
}

#buyer-profile-details-container p {
    display: -webkit-box;
    color: var(--text-color-3);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

#buyer-profile-details-container div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
}

#buyer-profile-details-container h2 {
    color: var(--color-accent-2);
    margin: 0;
    font-size: 1.8rem;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

#buyer-profile-details-container em {
    color: var(--text-color-3);
    margin-bottom: 20px;
}

#buyer-profile-details-container span {
    color: var(--text-color-3);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#buyer-profile-details-container i {
    color: var(--color-accent-2);
    margin-right: 10px;
}

#buyer-profile-details-container hr {
    border-top: 1px solid var(--text-color-3);
    opacity: 0.5;
    width: 100%;
}

.profile-btn-container {
    display: flex;
    gap: 10px;
}

.profile-btn-container .btn-tab:disabled {
    border-bottom: 2px solid var(--color-accent-2);
}
.profile-btn-container .btn-tab:hover {
    border-bottom: 2px solid var(--color-accent-2-hov);
    cursor: pointer;
}

.profile-btn-container .btn-tab:disabled:hover {
    color: var(--color-accent-2);
    cursor: default;
    border-bottom: 2px solid var(--color-accent-2);
}

@media only screen and (max-width: 1020px) {
    #buyer-profile-grid-container {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 60px auto;
        gap: 20px;
    }

    #buyer-profile-details-container #edit-profile-btn {
        display: none;
    }

    #buyer-profile-details-container #edit-profile-btn-link {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    #buyer-profile-details-container #edit-profile-btn-link {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px) {
    #buyer-profile-grid-container {
        max-width: 600px;
        margin: 60px auto;
        gap: 20px;
    }

    #buyer-profile-details-container img {
        max-width: 200px;
        max-height: 200px;
    }

    #buyer-profile-details-container h2 {
        font-size: 1.2rem;
    }

    #buyer-profile-details-container em,
    #buyer-profile-details-container span,
    #buyer-profile-details-container p {
        font-size: 0.8rem;
        line-height: 20px;
    }
}

@media only screen and (max-width: 600px) {
    #buyer-profile-grid-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #buyer-profile-details-container img {
        max-width: 150px;
        max-height: 150px;
    }
}
