#new-listing {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

#new-listing-container {
    max-width: 690px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

#new-listing-container > section {
    min-width: 351px;
}

#new-listing-container .listing-details > div {
    position: relative;
    box-shadow: var(--default-box-shadow);
}

#new-listing-container .textarea-basic {
    width: 100%;
    box-sizing: border-box;
}

#new-listing-container .edit-listing-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#new-listing-container .edit-listing-info > span {
    display: flex;
    gap: 10px;
    align-items: center;
}

#new-listing-container .edit-listing-info > span i {
    width: 1rem;
    color: var(--color-accent-2);
}

.listing-image-list > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    background: none;
    gap: 5px;
    margin-bottom: 40px;
}

.listing-image-list img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.5/1;
    overflow-clip-margin: unset;
}

.listing-image-list img:hover {
    cursor: pointer;
    opacity: 0.9;
}

#new-listing-container .listing-image-list {
    box-shadow: none !important;
}
#new-listing-container .listing-image-list > div {
    position: relative;
}

#new-listing-container .header-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 40px;
}

#new-listing-container .header-section h2 {
    margin-bottom: 0;
}
#new-listing-container .header-section b {
    font-size: 1.2rem;
    color: var(--color-accent-2);
}

#new-listing-container .header-section address {
    color: var(--text-color-3);
}

#new-listing-container .header-section .edit-btn {
    right: 0;
    bottom: unset;
}

#new-listing-container .header-edit .row {
    display: grid;
    gap: 5px;
    margin-bottom: 10px;
}

#new-listing-container .header-edit label {
    color: var(--text-color-3);
}

#new-listing-container .header-edit .row-2 {
    grid-template-columns: 1fr 1fr 1fr;
}

#new-listing-container .header-edit .row-3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#new-listing-container .header-edit .input-basic {
    box-sizing: border-box;
    min-width: 0;
}

#new-listing-container .header-edit .select-with-label {
    padding: 14.5px 10px;
    line-height: 30px;
}

#new-listing-container input[type="file"] {
    display: none;
}

#create-new-listing-btn {
    width: fit-content;
    align-self: flex-end;
    font-size: 0.8rem;
    margin-top: 20px;
}

.hidden {
    height: 0px !important;
    min-height: 0 !important;
    border: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}
