#new-listing {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

#new-listing-container {
    max-width: 690px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

#new-listing-container > section {
    min-width: 351px;
}

#create-new-listing-btn {
    width: fit-content;
    align-self: flex-end;
    font-size: 0.8rem;
    margin-top: 20px;
}

.hidden {
    height: 0px !important;
    min-height: 0 !important;
    border: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}
