.basic-btn {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--color-accent-2);
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.basic-btn,
.basic-btn span {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-secondary);
}

.basic-btn:hover {
    cursor: pointer;
    background-color: var(--color-accent-2-hov);
    transition: background-color 0.3s;
}
