.select-basic-container {
    display: flex;
    flex-direction: column;
}

.select-basic {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid var(--border-color-1);
    outline: none;
}

.select-basic:focus {
    border: 1px solid var(--border-color-focus);
}

.select-basic-label {
    color: var(--color-accent-1);
    margin-bottom: 12px;
    font-weight: 400;
}
