.select-with-label-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.select-with-label {
    padding: 16px 10px;
    border-radius: 6px;
    border: 1px solid var(--border-color-1);
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.select-with-label:focus {
    border: 1px solid var(--border-color-focus);
}

.select-with-label-label {
    color: var(--color-accent-1);
    font-weight: 400;
    box-sizing: border-box;
}
