.btn-link {
    border: none;
    background: none;
}

.btn-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-link:hover * {
    text-decoration: underline;
}

.btn-link * {
    font-weight: 600;
}
