#login-form {
    max-width: 550px;
    min-width: 450px;
}

#login-form > div {
    margin: 15px;
}

#login-form .register-link,
#login-form .forgot-password-link {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}
