.contact-form {
    background-color: var(--color-secondary);
    padding: 30px;
    border-radius: 5px;
}

.contact-form img {
    width: 80px;
    height: 80px;
    border-radius: 45px;
    object-fit: cover;
    border: 5px solid var(--color-accent-2);
}

.contact-form .seller-contact-info-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-form .seller-contact-info-container > a {
    width: 90px;
    height: 90px;
}

.contact-form .seller-contact-info-container > a:hover img {
    border: 5px solid var(--color-accent-2-hov);
}

.contact-form .seller-contact-info-container i {
    color: var(--color-accent-2);
}

.contact-form .seller-contact-info-container b {
    color: var(--color-accent-2);
}

.contact-form .seller-contact-info-container b:hover {
    color: var(--color-accent-2-hov);
}

.contact-form .contact-form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form .input-basic,
.contact-form .textarea-basic {
    min-width: 270px;
}

.contact-form h3 {
    margin-top: 0;
}
