.btn-toggle {
    color: var(--color-accent-2);
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-toggle:hover {
    cursor: pointer;
    color: var(--color-accent-2-hov);
}

.btn-toggle > span,
.btn-toggle > i {
    font-weight: 600;
}
