.basic-btn-active {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid var(--color-accent-2);
    background-color: var(--color-accent-2);
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.basic-btn-active,
.basic-btn-active span {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-secondary);
}

.basic-btn-active:hover {
    cursor: pointer;
    border: 1px solid var(--color-accent-2-hov);
    background-color: var(--color-accent-2-hov);
    transition: background-color 0.3s;
}
