.icon-btn {
    color: var(--link-color-1);
    background-color: var(--color-secondary);
    font-family: var(--font-family-secondary);
    font-size: 1.15rem;
    border: 1px solid var(--link-color-1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
}

.icon-btn:hover {
    cursor: pointer;
    color: var(--color-secondary);
    background-color: var(--link-color-1);
    transition: color 0.3s, background-color 0.3s;
}
