#navbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
    box-shadow: 0 5px 10px 0 rgb(87 101 128 / 12%);
    z-index: 999;
    top: 0;
    position: sticky;
    width: 100%;
}

#navbar > div {
    max-width: 720px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar nav {
    display: flex;
    gap: 40px;
    font-size: 1.15rem;
    height: inherit;
}

#navbar .navbar-item {
    color: var(--link-color-1);
    font-family: var(--font-family-secondary);
    border-bottom: 2.5px solid var(--color-secondary);
    padding: 20px 0;
    transition: border-bottom 0.3s;
}

#navbar .navbar-item:hover {
    border-bottom: 2.5px solid var(--color-accent-2);
    cursor: pointer;
    transition: border-bottom 0.3s;
}

#navbar span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@keyframes nav-dropdown-appear {
    from {
        top: 65px;
        opacity: 0;
    }
    to {
        top: 75px;
        opacity: 1;
    }
}

#navbar .list-drop-down {
    top: 75px;
    animation: nav-dropdown-appear;
    animation-duration: 0.3s;
}

#navbar .nav-menu {
    display: none;
}

.brand span {
    color: var(--color-accent-2);
}

@media only screen and (max-width: 780px) {
    #navbar > div > nav {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 630px) {
    #navbar > div > nav {
        display: none;
    }

    #navbar > div {
        padding-left: 20px;
        padding-right: 20px;
    }

    #navbar .nav-menu {
        display: inline-flex;
        gap: 10px;
    }

    #navbar span {
        display: inline-flex;
        justify-content: flex-end;
    }

    #navbar .list-drop-down {
        top: 60px;
        animation: nav-dropdown-appear;
        animation-duration: 0.3s;
        width: 200px;
    }
    @keyframes nav-dropdown-appear {
        from {
            top: 50px;
            opacity: 0;
        }
        to {
            top: 60px;
            opacity: 1;
        }
    }
}
