#navbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
    box-shadow: 0 5px 10px 0 rgb(87 101 128 / 12%);
    z-index: 999;
    top: 0;
    position: sticky;
    width: 100%;
}

#navbar > div {
    max-width: 720px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar nav {
    display: flex;
    gap: 40px;
    font-size: 1.15rem;
    height: inherit;
}

#navbar .navbar-item {
    color: var(--link-color-1);
    font-family: var(--font-family-secondary);
    border-bottom: 2.5px solid var(--color-secondary);
    padding: 20px 0;
    transition: border-bottom 0.3s;
}

#navbar .navbar-item:hover {
    border-bottom: 2.5px solid var(--color-accent-2);
    cursor: pointer;
    transition: border-bottom 0.3s;
}

#navbar span {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

@keyframes nav-dropdown-appear {
    from {
        top: 65px;
        opacity: 0;
    }
    to {
        top: 75px;
        opacity: 1;
    }
}

#navbar .list-drop-down {
    top: 75px;
    animation: nav-dropdown-appear;
    animation-duration: 0.3s;
    width: 200px;
}

#navbar .nav-menu {
    display: none;
}

.brand span {
    color: var(--color-accent-2);
}

@media only screen and (max-width: 780px) {
    #navbar > div > nav {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 630px) {
    #navbar > div > nav {
        display: none;
    }

    #navbar > div {
        padding-left: 20px;
        padding-right: 20px;
    }

    #navbar .nav-menu {
        display: inline-flex;
        gap: 10px;
    }

    #navbar .list-drop-down {
        top: 60px;
        animation: nav-dropdown-appear;
        animation-duration: 0.3s;
        width: 200px;
    }
    @keyframes nav-dropdown-appear {
        from {
            top: 50px;
            opacity: 0;
        }
        to {
            top: 60px;
            opacity: 1;
        }
    }
}

#navbar .default-modal {
    padding: 20px;
    padding-top: 40px;
    width: 400px;
    overflow-y: hidden;
}

#navbar .default-modal > div {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    border-radius: 10px;
    box-sizing: content-box;
}

#navbar .default-modal > div:hover {
    cursor: pointer;
    background-color: var(--color-accent-2);
}

#navbar .default-modal > div:hover > div > span {
    color: white;
}

#navbar .default-modal > div > div {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#navbar .default-modal > div > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#navbar .default-modal > div > div > div > strong {
    line-height: 1.5rem;
}

#navbar .default-modal > div > div > div > span {
    color: var(--text-color-3);
    font-size: small;
    line-height: 0.9rem;
}

#navbar .default-modal > div > div > span {
    font-size: 0.8rem;
    color: var(--color-accent-2);
}

#navbar .default-modal .add-account i {
    font-size: 2.5rem;
}

#navbar .default-modal .add-account {
    color: var(--color-accent-2);
}

#navbar .default-modal .add-account:hover,
#navbar .default-modal .add-account:hover i {
    color: white;
}

#navbar .profile-image-round {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--color-accent-2);
    object-fit: cover;
    overflow-clip-margin: unset;
}
