#listing-search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-secondary);
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: var(--default-box-shadow);
}

#listing-search-form h3 {
    margin: 0;
    color: var(--color-accent-2);
}

#listing-search-form #search-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#listing-search-form #more-options-container {
    position: relative;
    animation-name: appear;
    animation-duration: 0.3s;
}

#listing-search-form #more-options-container > p {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

#listing-search-form #more-options-container > div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#listing-search-form #more-options-container > div > span {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#listing-search-form #more-options-btn-container {
    display: flex;
    justify-content: center;
    position: relative;
    animation-name: appear;
    animation-duration: 0.3s;
}
