.list-drop-down {
    position: absolute;
    right: 10px;
    margin-top: 5px;
    min-width: 100px;
    box-shadow: -3px 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.list-drop-down > li {
    display: flex;
    justify-content: flex-start;
}

.list-drop-down > li > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
}

.list-drop-down > li > *:hover {
    cursor: pointer;
    color: blue;
}
