#reset-password-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

#reset-password-form > div {
    margin: 15px;
}

#reset-password-form .login-link {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
}

.login-link a {
    color: #065fd4;
    text-decoration: none;
}
