#forgot-password-form {
    max-width: 720px;
    padding: 20px;
}

#forgot-password-form p {
    color: #788593;
}

#forgot-password-form > div {
    margin: 15px;
}

#forgot-password-form input {
    width: 100%;
}

#forgot-password-form .login-link {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}
