#listing-grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1200px;
    margin: auto;
}

#listing-grid-container > div {
    grid-area: 1 / 1 / span 1 / span2;
}

#listing-grid-container h2 {
    margin-bottom: 0;
}

#listing-grid-container hr {
    margin: 20px 0;
    opacity: 0.3;
}

#listing-grid-container #listing-search-form {
    position: sticky;
    top: 90px;
}

@media only screen and (max-width: 900px) {
    #listing-grid-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    #listing-grid-container #listing-search-form {
        margin: 0;
    }
}
