.input-with-label {
    display: flex;
    flex-direction: column;
}

.input-with-label label {
    color: var(--color-accent-1);
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
}

.input-with-label input {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid var(--border-color-1);
    outline: none;
    line-height: 30px;
    box-sizing: border-box;
    width: 100%;
}

.input-with-label input:focus {
    border: 1px solid var(--border-color-focus);
}
