#sort-dropdown-btn .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    right: 0;
    margin-top: 5px;
    background-color: var(--color-secondary);
    box-shadow: var(--default-box-shadow);
}

#sort-dropdown-btn .dropdown li {
    font-size: small;
    text-wrap: nowrap;
    background: none;
    outline: none;
    border: none;
    color: var(--color-accent-2);
    padding: 8px 10px;
    width: 100%;
    text-align: start;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
}

#sort-dropdown-btn .dropdown li:hover {
    cursor: pointer;
    background-color: var(--color-accent-2);
    color: var(--color-secondary);
}
