.listing-entry {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    background-color: var(--color-tertiary);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--default-box-shadow);
    margin-bottom: 20px;
}

.listing-entry .listing-image-container {
    display: flex;
    align-items: center;
}

.listing-details-container {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.listing-details-container header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

.listing-details-container header .icon-btn {
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
}

.listing-entry .listing-title {
    margin: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: var(--color-accent-2);
}

.listing-entry .listing-title a {
    text-wrap: nowrap;
}

.listing-entry .listing-title a:hover,
.listing-entry .listing-title:hover {
    color: var(--color-accent-2-hov);
}

.listing-entry .listing-seller-and-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.listing-entry .listing-seller-and-price div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.listing-entry .listing-seller-and-price img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
}

.listing-entry .listing-seller-and-price a:hover {
    color: var(--color-accent-2-hov);
}

.listing-entry address i {
    color: var(--color-accent-1);
}

.listing-entry address {
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.listing-entry .listing-info {
    display: flex;
    gap: 20px;
}

.listing-entry .listing-info i {
    color: var(--color-accent-2);
}

.listing-entry .listing-image {
    width: 300px;
    aspect-ratio: 1.5/1;
    object-fit: cover;
}

.listing-entry .listing-image:hover {
    opacity: 0.9;
}

.listing-entry figure {
    margin: 0;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.listing-entry figcaption {
    font-size: 0.6rem;
    align-self: flex-end;
}

.listing-entry figcaption a {
    color: var(--color-accent-2);
    text-decoration: none;
}

@media only screen and (max-width: 1080px) {
    .listing-entry {
        display: flex;
        flex-direction: column;
    }

    .listing-entry .listing-image {
        width: 100%;
    }
}
